@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply px-2;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background: #000;
}

.myScroll::-webkit-scrollbar {
  width: 10px;
}
.myScroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 20%);
}
.myScroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 40%);
}
.card:hover .card-play {
  display: flex;
  animation: play 0.5s ease forwards;
}
@keyframes play {
  from {
    opacity: 0;
    transform: scale(95%) translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.nav-search:hover .nav-glass-icon{
  color: white !important;
}

.player {
  -webkit-appearance: none;
  background: #4D4D4D;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.player:hover {
  background: #1DB954;
}

.player::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  cursor: pointer;
}

.player::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  cursor: pointer;
}